<mat-card>
  <mat-card-header>
    <mat-card-title>Listado de Clientes</mat-card-title>
    <div class="card-actions">
      <a class="btn btn-primary kt-margin-r-10" color="primary" (click)="create()" mat-raised-button
        matTooltip="Save & Continue">
        <em class="la la-save"></em>
        <span class="kt-hidden-mobile">Crear Cliente</span>
      </a>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
          <mat-cell *matCellDef="let item"> {{item.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="apellido">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.apellido}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Correo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.telefono}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card-content>
</mat-card>
